<div class="container mt-5">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
<div *ngFor="let eachGroup of groups" class="post-card">
    <mat-card>
        <mat-card-header>
            <img mat-card-avatar *ngIf="eachGroup.groupImageUrl" src="{{ eachGroup.groupImageUrl | obscenity }}">
            <mat-card-title>{{ eachGroup.groupName | obscenity }}</mat-card-title>
            <mat-card-subtitle>
                <button mat-raised-button color="view-group" type="button" (click)="viewGroup(eachGroup)">
                    <span>View Group</span>
                </button>
            </mat-card-subtitle>
            <mat-card-content>{{ eachGroup.groupDescription | obscenity }}</mat-card-content>
        </mat-card-header>
    </mat-card>
</div>
</div>
<div class="col-2"></div>
<br><br>
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title class="login-text">Create A Group</mat-card-title>
      </mat-card-header>
      <form class="form" #myForm="ngForm" (ngSubmit)="createGroup()">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput type="text" class="form-control" id="groupName"
            placeholder="Enter group name" name="groupName"
            [(ngModel)]="newGroup.groupName" #groupName="ngModel" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="text" class="form-control" id="groupDescription"
            placeholder="Enter a group description" name="groupDescription"
            [(ngModel)]="newGroup.groupDescription" #groupDescription="ngModel"
            required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput input type="text" class="form-control" id="groupImageUrl"
            placeholder="Group Image URL" name="groupImageUrl"
            [(ngModel)]="newGroup.groupImageUrl" #groupImageUrl="ngModel">
          </mat-form-field>
        </mat-card-content>
        <button mat-raised-button color="primary" class="btn-block" type="submit" [disabled]="!myForm.valid">Create Group</button>
      </form>
    </mat-card>
    </div>