        <div style="margin-left:10%; margin-right:10%; padding-top: 20px; padding-bottom: 20px;">
    
                
                    <button mat-raised-button color="logout" (click)="toggleGroupForm()">Create New Group</button>
                    <div *ngIf="showCreateGroupForm">
                        

                                <form  #myForm="ngForm" (ngSubmit)="createGroup()">
                                    <div class="card mt-3">
                                        <div class="card-body">
                                            <div class="mb-3 mt-3">
                                                <label for="Title" class="form-label">Group Name:</label>
                                                <input type="text" class="form-control" id="groupName"
                                                    placeholder="Enter group name" name="groupName"
                                                    [(ngModel)]="newGroup.groupName" #groupName="ngModel" required>
                                                <div style="color: red"
                                                    *ngIf="!groupName.valid && groupName.touched">
                                                    Group Name is required. Please enter the desired name of your group.
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="groupDescription" class="form-label">Group
                                                    Description:</label>
                                                <input type="text" class="form-control" id="groupDescription"
                                                    placeholder="Enter a group description" name="groupDescription"
                                                    [(ngModel)]="newGroup.groupDescription" #groupDescription="ngModel"
                                                    required>
                                                <div style="color: red"
                                                    *ngIf="!groupDescription.valid && groupDescription.touched">
                                                    Group Description is required. Please enter a description of your group.
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="groupImageUrl" class="form-label">Group
                                                    Image URL:</label>
                                                <input type="text" class="form-control" id="groupImageUrl"
                                                    placeholder="Provide a URL for the group image" name="groupImageUrl"
                                                    [(ngModel)]="newGroup.groupImageUrl" #groupImageUrl="ngModel"
                                                    required>
                                                <div style="color: red" *ngIf="!groupImageUrl.valid && groupImageUrl.touched">
                                                        Group Image is required. Please enter an image for your group.
                                                </div>
                                            </div>

                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" mat-raised-button color="logout"
                                                [disabled]="!myForm.valid">Create Group</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            
                        </div>

                

                    <div *ngFor="let eachGroup of groups" style="margin-left:10%; margin-right:10%" id="post-feed">
                        <mat-card>
                            <mat-card-header>
                                <img mat-card-avatar *ngIf="eachGroup.groupImageUrl" src="{{ eachGroup.groupImageUrl }}" alt="header-image">
                                <mat-card-title>{{ eachGroup.groupName | obscenity }}</mat-card-title>
                                <mat-card-subtitle>
                                    <button mat-raised-button color="logout" (click)="viewGroup(eachGroup)">
                                        <span>View Group</span>
                                    </button>
                                </mat-card-subtitle>
                                <mat-card-content>{{ eachGroup.groupDescription | obscenity }}</mat-card-content>
                            </mat-card-header>
                        </mat-card>
                        <br>
                    </div>


            
                
