<div class="container mt-5">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
<div class="post-card"  *ngFor="let bookmark of bookmarks">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{bookmark.author.firstName | obscenity }} {{bookmark.author.lastName | obscenity }}</mat-card-title>
            <mat-card-subtitle>{{bookmark.author.email | obscenity}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image *ngIf="bookmark.imageUrl" src="{{ bookmark.imageUrl | obscenity}}" alt="Post Image">
        <mat-card-content>
            <p>
                {{bookmark.text | obscenity}}
            </p>
           <mat-icon (click)="unBookmarkThisPost(bookmark)" style="color: #673AB7" >bookmark</mat-icon>
        </mat-card-content>
    </mat-card>
</div>
</div>
<div class="col-2"></div>