<p>
    <mat-toolbar>
        <span><img src="https://s.imgur.com/B13NqRU.jpg"></span>
        <!-- <span [routerLink]="['/post-feed']">HeapOverflow</span> -->
        <span class="spacer"></span>
        <button (click)="logout();" mat-raised-button color="logout"><span>Logout</span></button>
        <button (click)="darkMode();" mat-raised-button color="dark"><span class="material-symbols-outlined">brightness_4</span></button>
        <button  [routerLink]="['/bookmark']" mat-raised-button color="logout"><span>Bookmark</span></button>
        <button  [routerLink]="['/like']" mat-raised-button color="logout"><span>Likes</span></button>

    </mat-toolbar>
</p>