<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title class="login-text">Edit Profile</mat-card-title>
        </mat-card-header>
        <form class="form" (ngSubmit)="goToProfile()">
            <mat-card-content>


                
                <div class="full-width">
                    <mat-form-field appearance="outline">
                    <mat-label for="aboutMeText">About Me: </mat-label>
                    <input matInput type="text" class="form-control" id="aboutMeText" placeholder="Write about yourself"
                        name="aboutMeText" [(ngModel)]="profile.text" name="aboutMeText" #pText="ngModel">
                    <mat-hint>Don't be shy!</mat-hint>
                    </mat-form-field>
                    <button matInput type="submit" class="mat-small" mat-raised-button color="primary"
                        (click)="updateProfile()">Update</button>
                    <div class="full-width">
                        <label>Show Birthday?</label>
                        <mat-card-content>
                            <div *ngIf="getDisplayBirthday()" id="yesblock">YES</div>
                            <div *ngIf="!getDisplayBirthday()" id="noblock">NO</div>
                            <button type="submit" class="mat-small" mat-raised-button color="primary"
                                (click)="toggleShowBirthday()">Change!</button>
                        </mat-card-content>
                        <mat-card-content>
                            <label for="birthday">Set birthdate: </label>
                            <input type="date" [(ngModel)]="profile.birthday" name="birthday" id="birthday"
                                (change)="onBirthdayChanged()">
                        </mat-card-content>
                        <label>Display Email?</label>
                        <mat-card-content>
                            <div *ngIf="getDisplayEmail()" id="yesblock">YES</div>
                            <div *ngIf="!getDisplayEmail()" id="noblock">NO</div>
                            <button type="submit" class="mat-small" mat-raised-button color="primary"
                                (click)="toggleShowEmail()">Change!</button>
                        </mat-card-content>
                    </div>
                    <button mat-raised-button color="primary" class="btn-block" type="submit" (click)="goToProfile()">Return to Profile</button>
                </div>
            </mat-card-content>
        </form>
    </mat-card>

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title class="login-text">Change Avatar</mat-card-title>
        </mat-card-header>
                <mat-card-content>
                    <div class="imgCol" style="color: black;">
                        <div class="noMargin">
                            <img [src]="profile.imageUrl" alt="Profile Image" width="160px" height="160px">
                            <div class="noMargin" style="color: black;">Before</div>
                        </div>
                        <br><br>
                        <div class="noMargin" *ngIf="getShowOtherImage()">
                            <img [src]="tempFileInfo.url" alt="Profile Image" width="160px" height="160px">
                            <div class=" noMargin" style="color: black;">After</div>
                        </div>
                    </div>
                    <div id="imageError" *ngIf="getIsFileTooLarge()">
                        <span>File is too large! Max is 500KB</span>
                    </div>
                    <div>
                        <label for="imageUpload" style="color: black;">Choose a file! </label>
                        <input type="file" id="imageUpload" (change)="onFileSelected($event)" style="color: black;">
                    </div>

                    <button type="submit" mat-raised-button color="primary" (click)="onUpload()">Upload!</button>
                </mat-card-content>
    </mat-card>
</div>