<div class="post-card">
    <mat-card>
        <mat-card-header>
            <img mat-card-avatar class="header-image" (click)="goToProfile()" id="mouseCursor" [src]="profileImageUrl">
            <mat-card-title>{{post.author.firstName | obscenity }} {{post.author.lastName | obscenity }}</mat-card-title>

            

            <mat-card-subtitle>{{post.author.email  | obscenity }}</mat-card-subtitle>
        </mat-card-header>
        
        <img mat-card-image *ngIf="post.imageUrl" src="{{ post.imageUrl | obscenity }}" alt="Post Image">
        <mat-card-content>
            <p>
                {{post.text | obscenity}}
            </p>         
          <mat-icon (click)="likeThisPost(post)" *ngIf="!liked">favorite_border</mat-icon>
           <mat-icon (click)="unLikeThisPost(post)" *ngIf="liked" style="color: red;">favorite</mat-icon>
           <mat-icon (click)="bookmarkThisPost(post)" *ngIf="!bookmarked">bookmark_border</mat-icon>
                <mat-icon (click)="unBookmarkThisPost(post)" *ngIf="bookmarked" style="color: #673AB7;">bookmark</mat-icon>
           <h6>{{likes}} like this post</h6>
            <div *ngFor="let comment of post.comments" class="comment-container">
                <mat-divider></mat-divider>
                <app-comment [comment]="comment"></app-comment>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="toggleReplyToPost()">Reply</button>
        </mat-card-actions>
        <form class="form" *ngIf="replyToPost" [formGroup]="commentForm" (ngSubmit)="submitReply($event)">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Make a Post</mat-label>
                <textarea matInput autofocus formControlName="text"></textarea>
            </mat-form-field>
            <div align="end">
                <button mat-raised-button color="warn" (click)="toggleReplyToPost()">Cancel</button>
                <button mat-raised-button color="primary" type="submit">Post</button>
            </div>
        </form>
    </mat-card>
</div>